.location{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.div1{
  overflow: hidden;
  background-color: rgb(36, 36, 36);
  width: 100%;
  height: 100%;
}

.div2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(31, 0, 31);
}

.locText{
  padding-left: 5vmax;
  padding-right: 5vmax;
  font-size: 4vmin;
}

.locText2{

  padding-left: 5vmax;
  padding-right: 5vmax;
  font-size: 4vmin;
}


@media all and (orientation: landscape){
  .location{
    flex-direction: row;
  }
}