.contact{
  padding: 3vmin;
  padding-bottom: 6vmin;
  font-size: 4vmin;
  text-align: center;
}

.contactbtn {
  color: rgb(250, 215, 245);
  margin: auto;
  padding: 2vmin;
  width: 20vmin;
  height: 5vmin;
  border-radius: 1vmin;
  background-color: blueviolet;
}

.contactbtn:hover{
  background-color: rgb(247, 0, 255);
  transform: scale(1.1);
  cursor: pointer;
  border-radius: 1vmin;
}

.contactbtntext{
  margin: 0;
  margin-top: -0.5vmin;
  padding: 0;
}