.contact{
  padding-top: 20vh;
  background-color: rgb(15, 0, 11);
  text-align: center;
  color:rgb(117, 117, 117);
  font-size: 150%;
}

.margins{
  margin-top: 30px;
}

.email{
  color:rgb(220, 167, 255);
}

a {
  color:rgb(220, 167, 255);
  text-decoration: none;
}
