.navBar{
  position: fixed;
  width: 100%;
  height: 5vmin;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  z-index: 10;
}

.theNavSelection{
  display: flex;
  flex-direction: row;

}

.navBar li {
  font-size: 3.5vmin;
  padding-left: 4vmin;
  display:inline;
}

.navBar ul {
  margin-top: -0.1vmin;
}

.navBar li:hover {
  cursor: pointer;
  color: rgb(247, 0, 255);
}

.homebox{

  font-size: 3.5vmin;
  margin-left: 5vmin;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.homebox:hover{
  cursor: pointer;
  color: rgb(247, 0, 255);
}

.selected{
  margin: auto;
  background-color: rgb(161, 161, 161);
  width: 9vmin;
  height: 0.2vmin;
  animation: homeanimate 1 0.5s linear;
}

.selected2{
  margin: auto;
  background-color: rgb(161, 161, 161);
  width: 9vmin;
  height: 0.2vmin;
  animation: aboutanimate 1 0.5s linear;
}

.selected3{
  margin: auto;
  background-color: rgb(161, 161, 161);
  width: 13vmin;
  height: 0.2vmin;
  animation: servicesanimate 1 0.5s linear;
}

.selected4{
  margin: auto;
  background-color: rgb(161, 161, 161);
  width: 12vmin;
  height: 0.2vmin;
  animation: contactanimate 1 0.5s linear;
}

.homebox:hover .homebar{
  margin: auto;
  background-color: rgb(247, 0, 255);
  width: 9vmin;
  height: 0.2vmin;
  animation: homeanimate 1 0.5s linear;
}

.homebox:hover .aboutbar{
  margin: auto;
  background-color: rgb(247, 0, 255);
  width: 9vmin;
  height: 0.2vmin;
  animation: aboutanimate 1 0.5s linear;
}

.homebox:hover .servicesbar{
  margin: auto;
  background-color: rgb(247, 0, 255);
  width: 13vmin;
  height: 0.2vmin;
  animation: servicesanimate 1 0.5s linear;
}

.homebox:hover .contactbar{
  margin: auto;
  background-color: rgb(247, 0, 255);
  width: 12vmin;
  height: 0.2vmin;
  animation: contactanimate 1 0.5s linear;
}

@keyframes homeanimate {
  0%{width: 0vmin;}
  100%{width: 9vmin;}
}

@keyframes aboutanimate {
  0%{width: 0vmin;}
  100%{width: 9vmin;}
}

@keyframes servicesanimate {
  0%{width: 0vmin;}
  100%{width: 13vmin;}
}

@keyframes contactanimate {
  0%{width: 0vmin;}
  100%{width: 12vmin;}
}