
.taFredomSvg {
  flex: none;
  width: 100vmax;
  height: 100vmax;
  background: linear-gradient(to bottom, rgb(54, 191, 255), rgb(255, 255, 255), rgb(255, 255, 255));
}

.flayer2 {
  fill: #977a58;
}

.flayer3 {
  fill: #685034;
}

.flayer4 {
  fill: #3a2c1c;
}

.flayer5 {
  fill: #1b4b1b;
}

.flayer6 {
  fill: #113611;
}

.flayer7 {
  fill: #1a1a1a;
}

.flayer8 {
  fill: #1a1a1a;
}

.flayer9 {
  fill: #1a1a1a;
}

.flayer10 {
  fill: #022702;
}

.flayer11 {
  fill: #021f02;
  z-index: 10;
}

.flayer12 {
  fill: #021f02;
}

.flayer13 {
  fill: #001300;
}
.flayer14 {
  fill: #021a02;;
}
.flayer15 {
  fill: #000a00;
}

