body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(19, 0, 19);
  color: rgb(161, 161, 161);
}

div {
  margin: 0px;
  padding: 0px;
}

.thecolorepicker{
  background-color: rgb(241, 179, 98);
}

a {
  text-decoration: none;
  color: blueviolet;
}

a:hover {
  color: rgb(247, 0, 255);
}