
.taCaveSvg {
  flex: none;
  width: 100vmax;
  height: 100vmax;
}

.layer {
  fill: #000000;
}

.layer1 {
  fill: #ffffff;
}

.layer2 {
  fill: #f4e3d7;
}

.layer3 {
  fill: #deaa87;
}

.layer4 {
  fill: #e9c6af;
  animation: wallColor infinite 10s linear;
}

.layer5 {
  fill: #00aad4;
  animation: wave1 infinite 5s linear;
}

.layer6 {
  fill: #0088aa;
  animation: wave2 infinite 5s linear;
}

.layer7 {
  fill: #164450;
  animation: wave3 infinite 5s linear;
}

.layer8 {
  fill: #deaa87;
}

.layer9 {
  fill: #216778;
  animation: dripColor infinite 5s linear;
}

.layer10 {
  fill: #d38d5f;
}

.layer11 {
  fill: #c87137;
}

.layer12 {
  fill: #a05a2c;
}

.layer13 {
  fill: #784421;
}

.layer14 {
  fill: #502d16;
}

.layer15 {
  fill: #28170b;
}

.layer16 {
  fill: #006680;
  animation: dripMove infinite 5s linear;
}


@keyframes dripMove {
  0%{transform: translate(0px, -10%);}
  90%{transform: translate(0px, -10%);}
  100%{transform: translate(0px, 2300%);}
}

@keyframes dripColor {
  0%{fill: #00aad4;}
  90%{fill: #0088aa;}
  100%{fill: #00aad4;}
}

@keyframes wave1 {
  0%{transform: translate(0%, 0px);}
  50%{transform: translate(-20%, 0px);}
  100%{transform: translate(0%, 0px);}
}

@keyframes wave2 {
  0%{transform: translate(0%, 0px);}
  50%{transform: translate(20%, 0px);}
  100%{transform: translate(0%, 0px);}
}

@keyframes wave3 {
  0%{transform: translate(0%, 0px);}
  50%{transform: translate(-20%, 0px);}
  100%{transform: translate(0%, 0px);}
}

@keyframes wallColor {
  0%{fill: #e9c6af;}
  10%{fill: #d4c5c4;}
  25%{fill: #e9c6af;}
  39%{fill: #d4c5c4;}
  45%{fill: #adb5c7;}
  50%{fill: #d4c5c4;}
  60%{fill: #d4c5c4;}
  66%{fill: #e9c6af;}
  70%{fill: #d4c5c4;}
  100%{fill: #e9c6af;}
}

